@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';

#video{
    width: 60%;
    border-radius: 5%;
    box-shadow: 10px 10px 30px black;
}

.py-2{
    box-shadow: 10px 10px 30px black;
}
